*{
    font-family: Roboto;
    box-sizing:border-box; 
}
a{
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    
}
.header,
.bar,
.footer{
    background-color:#1F2937;
}
.bar-left h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.bar-left p{
    font-size: 18px;
    color: #E5E7EB;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

button{
    background-color: #3882F6;
    color: white;
}
.content h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.quo{
    background-color: #E5E7EB;
}
.quo-content{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}
.header,
.bar,
.content,
.quo,
.signup,
.footer{
    padding-left: 15%;
    padding-right: 15%;
}
.header{
    display: flex;
    align-items: flex-end;
    padding-top:20px;
    padding-bottom: 60px;
}

a{
    margin-left:16px;
    color: #E5E7EB;
    
}
.link-one{
    margin-left: auto;
}

.bar{
    display: flex;
    padding-bottom:100px ;
}
.bar-left,
.bar-right{
    flex: 1;
}
.bar-img{
    width: 100%;
    height: 100%;
     padding-left: 30px;
}
h1,
h2,
p{
    margin: 0;
    padding: 0;
}
.bar-left p{
    margin-bottom: 20px;
}
.bar-left > button{
    font-size: medium;
    font-weight: 700;
    border-radius: 8px;
    padding: 7px 35px;
    box-shadow: none;
    border:none ;
}

.content{
    padding-top: 35px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap:35px;
    padding-bottom: 100px;
}
.content img{
    width:150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}
.box{
    max-width: 150px;
}

.quo{
    padding: 100px 350px;
    display: flex;
    flex-direction: column;
}
.quo-a{
    text-align: end;
    font-size: 25px;
    font-weight: bold;
}

.signup{
    padding:100px 20%; 
}
.signup .container{
    display: flex;
    align-items: center;
    background-color: #3882F6;
    width: 100%;
    padding: 50px 80px;
    border-radius: 15px;
}
.signup-left{
    color: whitesmoke;
    font-weight: 300;
}
.signup-left .bold{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.signup-right{
    margin-left: auto;
}
.signup-right button{
    font-size: medium;
    font-weight: 700;
    border-radius: 8px;
    padding: 7px 35px;
    box-shadow: none;
    border:2px solid white ;
}

.footer{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: large;
    font-weight: 300;
    padding: 35px;
}
